In [1]:
#OK I need to slice the data frame and then plot it. this is in blue
#I need to the plot the search frequency, this is in orange

In [ ]:
import matplotlib.pyplot as plt
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize
import datetime
from pytrends.request import TrendReq
%matplotlib inline

##### following API worked
pip install cryptocmd required

In [3]:
from cryptocmd import CmcScraper

# initialise scraper
scraper = CmcScraper('ETH', '15-11-2017', '21-3-2018')

# get data as list of list
headers, data = scraper.get_data()

# export the data to csv
scraper.export_csv()

df = pd.read_csv('ETH_15-11-2017_21-03-2018.csv', dtype=str)

# get dataframe for the data
#df = scraper.get_dataframe()

In [19]:
# BITCOIN
# initialise scraper

scraper = CmcScraper('BTC', '15-11-2017', '21-3-2018')

# get data as list of list
headers, data = scraper.get_data()

# export the data to csv
scraper.export_csv()

df1 = pd.read_csv('BTC_15-11-2017_21-03-2018.csv', dtype=str)

In [4]:
print(df[0:15]) #debugging

          Date    Open    High     Low   Close      Volume   Market Cap
0   21-03-2018   559.1  589.61  550.57  561.73  1781270000  54967300000
1   20-03-2018  556.72  567.09   521.2  557.17  1833680000  54722100000
2   19-03-2018  546.63   558.1  519.12  556.73  2046790000  53718600000
3   18-03-2018  551.64  551.64  460.09  538.64  2685500000  54200100000
4   17-03-2018  601.68  609.15   549.1  552.78  1267810000  59104200000
5   16-03-2018  611.78  623.17  587.86  601.67  1417350000  60083700000
6   15-03-2018  614.84  620.62   579.5   611.3  1770460000  60371800000
7   14-03-2018  691.22  702.78   594.1  614.29  1810560000  67857600000
8   13-03-2018  698.15  713.74  682.35  690.83  1425960000  68524000000
9   12-03-2018  724.41  742.51  683.27  699.83  1765000000  71086000000
10  11-03-2018  685.31  735.83  668.12  723.34  1562680000  67235700000
11  10-03-2018  730.16  748.03   682.7  686.89  1532960000  71620700000
12  09-03-2018   702.2  729.16  648.11  728.92  2233020000  68863600000
13  08-03-2018  752.57  773.77  696.17   704.6  1891640000  73788400000
14  07-03-2018  816.27  825.61  726.55  752.83  2175420000  80017300000

#here do the conversion 
for date in x:
    nums = date.split('-')
    print('{:0>2s}-{:0>2s}-{:0>4s}'.format(nums[1], nums[0], nums[2]))

In [5]:
for date in df['Date'][0:5]:
    nums = date.split('-')
    stuff = '{}-{}-{}'.format(nums[1], nums[0], nums[2])
    print(stuff)

03-21-2018
03-20-2018
03-19-2018
03-18-2018
03-17-2018

do list comprehension (also learn string comprehension!!)

In [6]:
def convert_date(date_string):
    nums = date_string.split('-')
    alt_format = '{}-{}-{}'.format(nums[1], nums[0], nums[2])
    #alt_format = datetime.datetime(int(nums[2]), int(nums[0]), int(nums[1]), 0, 0)
    return alt_format

df['Date'] = df['Date'].apply(convert_date)
#df['Date']

In [21]:
df['Date'] = pd.to_datetime(df['Date'],infer_datetime_format=True)
df1['Date'] = pd.to_datetime(df1['Date'],infer_datetime_format=True)

In [22]:
df1[0:5]

        Date     Open     High      Low    Close      Volume    Market Cap
0 2018-03-21  8937.48  9177.37  8846.33  8929.28  6043130000  151316000000
1 2018-03-20  8619.67  9051.02  8389.89  8913.47  6361790000  145922000000
2 2018-03-19  8344.12  8675.87   8182.4  8630.65  6729110000  141240000000
3 2018-03-18  7890.52  8245.51  7397.99  8223.68  6639190000  133547000000
4 2018-03-17  8321.91  8346.53  7812.82  7916.88  4426150000  140834000000

this gave error:

def convert_date(date_string):
    nums1 = date_string.split('-')
    nums2 = '{}-{}-{}'.format(nums1[1], nums1[0], nums1[2])
    alt_format = datetime.datetime(int(nums2[2]), int(nums2[0]), int(nums2[1]), 0, 0)
    return alt_format

df['Date'] = df['Date'].apply(convert_date)
#df['Date']

In [23]:
df = df.sort_values('Date')
df1 = df1.sort_values('Date')

In [24]:
df1[0:5]

          Date     Open     High      Low    Close      Volume    Market Cap
126 2017-11-15  6634.76  7342.25  6634.76  7315.54  4200880000  110667000000
125 2017-11-16  7323.24  7967.38  7176.58  7871.69  5123810000  122164000000
124 2017-11-17  7853.57  8004.59  7561.09  7708.99  4651670000  131026000000
123 2017-11-18  7697.21  7884.99  7463.44  7790.15  3667190000  128425000000
122 2017-11-19  7766.03  8101.91   7694.1  8036.49  3149320000  129595000000

In [11]:
df['Date'][0]

Timestamp('2018-03-21 00:00:00')

In [12]:
type(df['Date'][0])

pandas._libs.tslib.Timestamp

In [18]:
df_final_eth = df['Close']
df_final_eth.index = df['Date']
df_final_eth.to_csv('final_eth_price.csv')

In [25]:
df_final_btc = df1['Close']
df_final_btc.index = df1['Date']
df_final_btc.to_csv('final_btc_price.csv')