In [4]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('EtherPriceHistory(USD).csv')

     Date(UTC)  UnixTimeStamp   Value
0    7/30/2015     1438214400    0.00
1    7/31/2015     1438300800    0.00
2     8/1/2015     1438387200    0.00
3     8/2/2015     1438473600    0.00
4     8/3/2015     1438560000    0.00
5     8/4/2015     1438646400    0.00
6     8/5/2015     1438732800    0.00
7     8/6/2015     1438819200    0.00
8     8/7/2015     1438905600    3.00
9     8/8/2015     1438992000    1.20
10    8/9/2015     1439078400    1.20
11   8/10/2015     1439164800    0.00
12   8/11/2015     1439251200    0.99
13   8/12/2015     1439337600    1.29
14   8/13/2015     1439424000    1.88
15   8/14/2015     1439510400    1.79
16   8/15/2015     1439596800    1.79
17   8/17/2015     1439769600    1.30
18   8/16/2015     1439683200    1.37
19   8/18/2015     1439856000    1.36
20   8/19/2015     1439942400    1.24
21   8/20/2015     1440028800    1.52
22   8/21/2015     1440115200    1.44
23   8/22/2015     1440201600    1.40
24   8/23/2015     1440288000    1.35
25   8/24/2015     1440374400    1.24
26   8/25/2015     1440460800    1.27
27   8/26/2015     1440547200    1.18
28   8/27/2015     1440633600    1.14
29   8/28/2015     1440720000    1.30
..         ...            ...     ...
939  2/26/2018     1519603200  867.62
940  2/27/2018     1519689600  871.58
941  2/28/2018     1519776000  851.50
942   3/1/2018     1519862400  869.87
943   3/2/2018     1519948800  855.60
944   3/3/2018     1520035200  855.65
945   3/4/2018     1520121600  864.83
946   3/5/2018     1520208000  849.42
947   3/6/2018     1520294400  815.69
948   3/7/2018     1520380800  751.13
949   3/8/2018     1520467200  698.83
950   3/9/2018     1520553600  726.92
951  3/10/2018     1520640000  682.30
952  3/11/2018     1520726400  720.36
953  3/12/2018     1520812800  697.02
954  3/13/2018     1520899200  689.96
955  3/14/2018     1520985600  613.15
956  3/15/2018     1521072000  610.56
957  3/16/2018     1521158400  600.53
958  3/17/2018     1521244800  549.79
959  3/18/2018     1521331200  537.38
960  3/19/2018     1521417600  555.55
961  3/20/2018     1521504000  557.57
962  3/21/2018     1521590400  559.91
963  3/22/2018     1521676800  539.89
964  3/23/2018     1521763200  543.83
965  3/24/2018     1521849600  520.16
966  3/25/2018     1521936000  523.01
967  3/26/2018     1522022400  486.25
968  3/27/2018     1522108800  448.78

[969 rows x 3 columns]

In [13]:
#df = pd.read_csv('formatted_datetime_eth_pricedata.csv')

#df.head()

In [14]:
date = pd.to_datetime(df['Date(UTC)'])
price = df['Value']

In [15]:
type(date), type(price)

(pandas.core.series.Series, pandas.core.series.Series)

In [17]:
df['Date'] = pd.to_datetime(df['Date(UTC)'],infer_datetime_format=True)
date = df['Date']

In [22]:
price.index = date

In [20]:
len(date), len(price)

(969, 969)

In [7]:
price.index = date

In [25]:
price.head()

Date
2015-07-30    0.0
2015-07-31    0.0
2015-08-01    0.0
2015-08-02    0.0
2015-08-03    0.0
Name: Value, dtype: float64

In [31]:
from statsmodels.tsa.arima_model import ARIMA

/Users/Alexandra/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

### now for test train split

In [26]:
len(price)

969

In [27]:
0.7*len(price)

678.3

In [29]:
price_train = price[0:678]
price_test = price[678:969]

In [32]:
model = ARIMA(price_train, order=(0,1,0))
model_fit = model.fit(disp=0)
print(model_fit.summary())

IndexError: list index out of range

In [33]:
model = ARIMA(price_train, order=(1,0,0))
model_fit = model.fit(disp=0)
print(model_fit.summary())

                              ARMA Model Results
==============================================================================
Dep. Variable:                  Value   No. Observations:                  678
Model:                     ARMA(1, 0)   Log Likelihood               -1757.830
Method:                       css-mle   S.D. of innovations              3.190
Date:                Fri, 20 Apr 2018   AIC                           3521.659
Time:                        17:19:23   BIC                           3535.217
Sample:                    07-30-2015   HQIC                          3526.908
                         - 06-06-2017
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
const          18.1428        nan        nan        nan         nan         nan
ar.L1.Value     1.0000        nan        nan        nan         nan         nan
                                    Roots
=============================================================================
                 Real           Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            1.0000           +0.0000j            1.0000            0.0000
-----------------------------------------------------------------------------

/Users/Alexandra/anaconda/lib/python3.6/site-packages/statsmodels/tsa/kalmanf/kalmanfilter.py:646: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if issubdtype(paramsdtype, float):
/Users/Alexandra/anaconda/lib/python3.6/site-packages/statsmodels/tsa/kalmanf/kalmanfilter.py:650: FutureWarning: Conversion of the second argument of issubdtype from `complex` to `np.complexfloating` is deprecated. In future, it will be treated as `np.complex128 == np.dtype(complex).type`.
  elif issubdtype(paramsdtype, complex):
/Users/Alexandra/anaconda/lib/python3.6/site-packages/statsmodels/base/model.py:473: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
/Users/Alexandra/anaconda/lib/python3.6/site-packages/statsmodels/tsa/arima_model.py:1441: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(np.diag(-inv(hess)))
/Users/Alexandra/anaconda/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/Users/Alexandra/anaconda/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/Users/Alexandra/anaconda/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1818: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [35]:
model = ARIMA(price, order=(0,0,0))
model_fit = model.fit(disp=0)
print(model_fit.summary())

IndexError: list index out of range

In [22]:
model = ARIMA(price, order=(1,1,0))
model_fit = model.fit(disp=0)
print(model_fit.summary())

                             ARIMA Model Results
==============================================================================
Dep. Variable:                D.Close   No. Observations:                  126
Model:                 ARIMA(1, 1, 0)   Log Likelihood                -692.489
Method:                       css-mle   S.D. of innovations             58.967
Date:                Thu, 19 Apr 2018   AIC                           1390.979
Time:                        20:19:29   BIC                           1399.487
Sample:                    11-16-2017   HQIC                          1394.435
                         - 03-21-2018
=================================================================================
                    coef    std err          z      P>|z|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------
const             1.8115      5.708      0.317      0.752        -9.376    12.999
ar.L1.D.Close     0.0803      0.088      0.908      0.366        -0.093     0.254
                                    Roots
=============================================================================
                 Real           Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1           12.4518           +0.0000j           12.4518            0.0000
-----------------------------------------------------------------------------

In [23]:
model = ARIMA(price, order=(1,1,1))
model_fit = model.fit(disp=0)
print(model_fit.summary())

                             ARIMA Model Results
==============================================================================
Dep. Variable:                D.Close   No. Observations:                  126
Model:                 ARIMA(1, 1, 1)   Log Likelihood                -692.101
Method:                       css-mle   S.D. of innovations             58.783
Date:                Thu, 19 Apr 2018   AIC                           1392.201
Time:                        20:19:39   BIC                           1403.547
Sample:                    11-16-2017   HQIC                          1396.811
                         - 03-21-2018
=================================================================================
                    coef    std err          z      P>|z|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------
const             1.8190      5.574      0.326      0.745        -9.106    12.744
ar.L1.D.Close    -0.5023      0.399     -1.257      0.211        -1.285     0.281
ma.L1.D.Close     0.5996      0.366      1.637      0.104        -0.118     1.317
                                    Roots
=============================================================================
                 Real           Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1           -1.9909           +0.0000j            1.9909            0.5000
MA.1           -1.6678           +0.0000j            1.6678            0.5000
-----------------------------------------------------------------------------